/* Container principal para centralizar o conteúdo */
.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo na vertical */
    align-items: center; /* Centraliza o conteúdo na horizontal */
    height: 100vh;
    background-color: #0D1B2A; /* Fundo azul escuro */
}

/* Estilo do relógio */
.outer-clock {
    position: relative;
    width: 15rem;
    height: 15rem;
    background-color: #1B263B;
    border-radius: 2rem;
    box-shadow: inset 0px 0px 10px #1C5D99, 0px 0px 20px #1C5D99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ajustando o relógio */
.inner-clock .clock-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Loader (coração) */
.loader {
    position: relative;
    margin-top: 20px; /* Espaço entre o relógio e o coração */
    animation: beat 1s infinite;
}

/* Animações */
@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes coldblue {
    0%,
    100% {
        background-color: rgb(174, 12, 12); /* Cor inicial do coração */
    }
    50% {
        background-color: rgb(198, 23, 23); /* Cor final do coração */
    }
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 32px;
    border-radius: 5em 5em 0 0;
    animation: coldblue 1s infinite;
}

.loader::before {
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.loader::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

/* Estilo da animação do "loading" (cor do coração) */
.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.loading svg polyline#back {
    fill: none;
    stroke: #ff4d5033;
}

.loading svg polyline#front {
    fill: none;
    stroke: #ff4d4f;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
    72.5% {
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
    }
}

/* Ajuste de posicionamento do coração (loader) dentro do relógio */
.allheart {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o loader horizontalmente */
    margin-top: 20px; /* Espaço entre o relógio e o coração */
}
